<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IFunctionCalculate" />
                <binding name="BasicHttpBinding_IFunctionCalculate1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8733/Lab7/Service1/FunctionCalculate"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunctionCalculate"
                contract="IFunctionCalculate" name="BasicHttpBinding_IFunctionCalculate" />
            <endpoint address="http://localhost:8733/Lab7/Service1/FunctionCalculate"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IFunctionCalculate1"
                contract="ServiceReference1.IFunctionCalculate" name="BasicHttpBinding_IFunctionCalculate1" />
        </client>
    </system.serviceModel>
</configuration>